* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'open sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777; }

.header {
  background-image: url(../img/mainbg.jpg);
  background-size: cover;
  height: 100vh; }

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  align-items: center; }

.logo {
  height: 9rem;
  margin: 2rem 4rem; }

.nav-menu {
  margin: 2rem 4rem;
  display: flex;
  list-style: none;
  flex: 0 0 37%;
  justify-content: space-between; }
  .nav-menu__items {
    border: 2px solid white;
    border-radius: 25px; }
  .nav-menu__links {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1rem; }
