@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
.normal__text {
  font-size: 1.6rem;
  padding-top: 2rem; }

.heading-2 {
  font-size: 4.2rem;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  font-family: 'Original Surfer', cursive;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  opacity: 0; }
  @media (max-width: 25.75em) {
    .heading-2 {
      font-size: 3.1rem;
      padding-bottom: .5rem;
      padding-top: 2rem; } }

.heading-3 {
  font-weight: 400;
  font-size: 2.6rem;
  text-transform: uppercase;
  display: block;
  padding-top: 2rem;
  font-family: 'Original Surfer', cursive;
  opacity: 0; }
  @media (max-width: 25.75em) {
    .heading-3 {
      font-size: 2.6rem;
      padding-bottom: .5rem;
      padding-top: .5rem;
      margin-left: 1rem; } }

.c-cyan {
  color: #09b9cc; }

.c-yellow {
  color: #eabf32; }

.c-red {
  color: #cc2a36; }

@media only screen and (width: 375px) and (height: 667px) {
  /* Styles */ }

@media only screen and (width: 414px) and (height: 736px) {
  /* Styles */ }

@media only screen and (width: 320px) and (height: 568px) {
  /* Styles */ }

@media only screen and (width: 375px) and (height: 812px) {
  /* Styles */ }

@media only screen and (width: 768px) and (height: 1024px) {
  /* Styles */ }

@media only screen and (width: 1024px) and (height: 1366px) {
  /* Styles */ }

@media only screen and (width: 375px) and (height: 667px) {
  /* Styles */ }

@media only screen and (width: 414px) and (height: 736px) {
  /* Styles */ }

@media only screen and (width: 360px) and (height: 640px) {
  /* Styles */ }

@media only screen and (width: 1366px) and (height: 625px) {
  /* Styles */ }

.btn-red {
  display: inline-block;
  padding: .9rem 2.2rem;
  border-radius: 10rem;
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 2rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: 300;
  font-family: 'Original Surfer', cursive;
  opacity: 1; }
  .btn-red:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cc2a36;
    border-radius: 10rem;
    z-index: -2; }
  .btn-red:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #a2212b;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1; }
  .btn-red:hover {
    color: #eeeeee; }
    .btn-red:hover:before {
      width: 100%; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 111.8125em) {
    html {
      font-size: 58.235677083333%; } }
  @media (max-width: 100.5625em) {
    html {
      font-size: 52.376302083333%; } }
  @media (width: 100em) {
    html {
      font-size: 49.376302083333%; } }
  @media (max-width: 93.375em) {
    html {
      font-size: 48.6328125%; } }
  @media (max-width: 86.625em) {
    html {
      font-size: 43.815104166667%; } }
  @media (max-width: 72.75em) {
    html {
      font-size: 37.890625%; } }
  @media (max-width: 67.75em) {
    html {
      font-size: 35.286458333333%; } }
  @media (width: 85.375em) and (height: 39.1875em) {
    html {
      font-size: 38.9286458333333%; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #e9e9e9;
  background-color: #1a1a1a; }

.maincont4 {
  height: 10rem;
  background-color: #161616; }

.footer__text {
  text-align: center;
  padding-top: 2%; }
  @media (max-width: 25.75em) {
    .footer__text {
      padding-top: 2rem;
      font-size: 2rem; } }

.sec-contact-us {
  height: auto;
  height: 60rem; }
  @media (max-width: 25.75em) {
    .sec-contact-us {
      height: auto; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .sec-contact-us {
      height: auto; } }

.maincont3 {
  display: flex; }
  @media (max-width: 25.75em) {
    .maincont3 {
      flex-direction: column; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .maincont3 {
      flex-direction: column; } }
  .maincont3__address {
    flex: 0 0 39.8%;
    padding-left: 18%; }
    @media (max-width: 25.75em) {
      .maincont3__address {
        padding-left: 2rem; } }
    @media (min-width: 22.5em) and (max-width: 22.875em) {
      .maincont3__address {
        padding-left: 2rem; } }
  .maincont3__map {
    flex: 0 0 59.8%;
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 25.75em) {
      .maincont3__map {
        margin-top: 3rem; } }
    @media (min-width: 22.5em) and (max-width: 22.875em) {
      .maincont3__map {
        margin-top: 3rem; } }
  .maincont3__line {
    flex: 0 0 0.1%;
    display: flex;
    justify-content: center;
    align-items: center; }

.googlemap {
  height: 95%;
  width: 90%; }

.sep {
  background-color: #cc2a36;
  height: 88%; }
  @media (max-width: 25.75em) {
    .sep {
      height: 0.5rem;
      width: 88%; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .sep {
      height: 0.5rem;
      width: 88%; } }

.addressbox {
  display: flex; }

.icon {
  width: 4rem;
  height: 4rem;
  fill: #d8404b;
  margin-left: 3%; }

.addressbox {
  display: flex;
  justify-content: left;
  align-items: center; }

.phonebox {
  display: flex;
  justify-content: left;
  align-items: center; }

.mailbox {
  display: flex;
  justify-content: left;
  align-items: center; }

.txt-address {
  margin-left: 1.2rem;
  margin-bottom: 1.2rem; }
  @media (max-width: 25.75em) {
    .txt-address {
      font-size: 1.9rem; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .txt-address {
      font-size: 1.9rem; } }

.signature {
  margin-top: 5rem;
  font-size: 2rem;
  color: #1a1a1a; }

.sec-our-vision {
  background-image: linear-gradient(rgba(32, 23, 19, 0.71), rgba(32, 23, 19, 0.71)), url(../img/our-vision.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  background-position: center; }
  @media (max-width: 25.75em) {
    .sec-our-vision {
      height: auto;
      background-image: linear-gradient(rgba(32, 23, 19, 0.71), rgba(32, 23, 19, 0.71)), url(../img/our-vision-M.jpg); } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .sec-our-vision {
      height: auto;
      background-image: linear-gradient(rgba(32, 23, 19, 0.71), rgba(32, 23, 19, 0.71)), url(../img/our-vision-M.jpg); } }

.maincont2 {
  padding-top: 8rem; }
  @media (max-width: 111.8125em) {
    .maincont2 {
      padding-top: 8.5458333333333rem; } }
  @media (max-width: 100.5625em) {
    .maincont2 {
      padding-top: 9.2958333333333rem; } }
  @media (max-width: 25.75em) {
    .maincont2 {
      display: flex;
      flex-direction: column;
      padding-top: 16rem; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .maincont2 {
      display: flex;
      flex-direction: column;
      padding-top: 16rem; } }

.box1 {
  background-color: rgba(255, 255, 255, 0.85);
  margin-bottom: 4rem;
  margin-left: 45rem;
  margin-right: 45rem;
  transform: skewX(165deg); }
  @media (max-width: 25.75em) {
    .box1 {
      margin-bottom: 4rem;
      margin-left: 5rem;
      margin-right: 5rem;
      transform: skewY(0);
      border-radius: 2px; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .box1 {
      margin-bottom: 4rem;
      margin-left: 5rem;
      margin-right: 5rem;
      transform: skewY(0);
      border-radius: 2px; } }

.box2 {
  background-color: rgba(255, 255, 255, 0.85);
  margin-left: 45rem;
  margin-right: 45rem;
  transform: skewX(165deg); }
  @media (max-width: 25.75em) {
    .box2 {
      margin-bottom: 4rem;
      margin-left: 5rem;
      margin-right: 5rem;
      transform: skewY(0);
      border-radius: 2px; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .box2 {
      margin-bottom: 4rem;
      margin-left: 5rem;
      margin-right: 5rem;
      transform: skewY(0);
      border-radius: 2px; } }

.sub-box {
  padding-bottom: 7rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  transform: skewX(-165deg); }
  @media (max-width: 25.75em) {
    .sub-box {
      transform: skewY(0);
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 3rem;
      text-align: left; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .sub-box {
      transform: skewY(0);
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 3rem;
      text-align: left; } }

.txt-our-vision {
  color: #1a1a1a; }
  @media (max-width: 25.75em) {
    .txt-our-vision {
      font-size: 1.9rem; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .txt-our-vision {
      font-size: 1.9rem; } }

.logowhite-cont {
  text-align: center;
  margin-top: 4%; }

.logo-white {
  width: 16rem;
  z-index: 5; }
  @media (max-width: 25.75em) {
    .logo-white {
      width: 13rem; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .logo-white {
      width: 11rem; } }

.sec-our-activity {
  background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url(../img/our-activities.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  background-position: center; }
  @media (max-width: 25.75em) {
    .sec-our-activity {
      height: auto;
      background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url(../img/our-activities-M.jpg); } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .sec-our-activity {
      height: auto;
      background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url(../img/our-activities-M.jpg); } }

.h3-our-activity {
  text-align: center; }

.txt-our-activity {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.6rem; }
  @media (max-width: 25.75em) {
    .txt-our-activity {
      font-size: 1.9rem;
      margin-left: 1rem;
      margin-right: 1rem; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .txt-our-activity {
      font-size: 1.9rem;
      margin-left: 1rem;
      margin-right: 1rem; } }

.maincont1 {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  height: 75%; }
  @media (max-width: 25.75em) {
    .maincont1 {
      flex-direction: column;
      margin-left: 3rem;
      margin-right: 3rem;
      height: 85%; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .maincont1 {
      flex-direction: column;
      margin-left: 3rem;
      margin-right: 3rem;
      height: 94%; } }

.col1 {
  border: 3px solid #f0d370;
  flex: 0 0 25%;
  margin-right: 5%;
  opacity: 0; }
  @media (max-width: 25.75em) {
    .col1 {
      border: none;
      margin-bottom: 1.1rem;
      margin-right: 0;
      margin-left: 0;
      flex: 0 0 auto; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .col1 {
      border: none;
      margin-bottom: 1.1rem;
      margin-right: 0;
      margin-left: 0;
      flex: 0 0 auto; } }

.col2 {
  border: 3px solid #eabf32;
  flex: 0 0 25%;
  margin-right: 5%;
  opacity: 0; }
  @media (max-width: 25.75em) {
    .col2 {
      border: none;
      margin-bottom: 1.1rem;
      margin-right: 0;
      margin-left: 0;
      flex: 0 0 auto; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .col2 {
      border: none;
      margin-bottom: 1.1rem;
      margin-right: 0;
      margin-left: 0;
      flex: 0 0 auto; } }

.col3 {
  border: 3px solid #f0d370;
  flex: 0 0 25%;
  margin-right: 5%;
  opacity: 0; }
  @media (max-width: 25.75em) {
    .col3 {
      border: none;
      margin-bottom: 1.1rem;
      margin-right: 0;
      margin-left: 0;
      flex: 0 0 auto; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .col3 {
      border: none;
      margin-bottom: 1.1rem;
      margin-right: 0;
      margin-left: 0;
      flex: 0 0 auto; } }

.col4 {
  border: 3px solid #eabf32;
  flex: 0 0 25%;
  opacity: 0; }
  @media (max-width: 25.75em) {
    .col4 {
      border: none;
      margin-bottom: 1.1rem;
      margin-right: 0;
      margin-left: 0;
      flex: 0 0 auto; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .col4 {
      border: none;
      margin-bottom: 1.1rem;
      margin-right: 0;
      margin-left: 0;
      flex: 0 0 auto; } }

.sec-about-us {
  height: 100vh;
  background-size: cover;
  position: relative;
  background-position: center; }
  @media (max-width: 48em) {
    .sec-about-us {
      height: auto; } }
  @media (max-width: 25.75em) {
    .sec-about-us {
      height: auto; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .sec-about-us {
      height: auto; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  will-change: transform; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.h2-about-us {
  text-align: center; }

.h3-about-us {
  color: #09b9cc;
  text-align: center; }

.txt-about-us {
  margin-left: 12rem;
  margin-right: 9rem; }
  @media (max-width: 25.75em) {
    .txt-about-us {
      margin-left: 3rem;
      margin-right: 3rem; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .txt-about-us {
      margin-left: 3rem;
      margin-right: 3rem; } }

.js--txt-history {
  opacity: 0; }

.js--txt-history.animate__slideInLeft {
  opacity: 1; }

.maincont {
  display: flex;
  height: 90%; }
  @media (max-width: 25.75em) {
    .maincont {
      flex-direction: column; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .maincont {
      flex-direction: column; } }
  .maincont__cont-left {
    flex: 0 0 50%;
    height: 90%; }
    @media (max-width: 25.75em) {
      .maincont__cont-left {
        flex: 0 0 36%; } }
    @media (min-width: 22.5em) and (max-width: 22.875em) {
      .maincont__cont-left {
        flex: 0 0 46%; } }
  .maincont .composition-1 {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    opacity: 0; }
    @media (max-width: 25.75em) {
      .maincont .composition-1 {
        padding-top: 3rem; } }
    @media (min-width: 22.5em) and (max-width: 22.875em) {
      .maincont .composition-1 {
        padding-top: 3rem; } }
    .maincont .composition-1__photo {
      border-bottom: 1px solid #cc2a36;
      border-top: 1px solid #cc2a36;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
      clip-path: circle(90%); }
      .maincont .composition-1__photo-img6 {
        padding: 1rem;
        width: 30rem;
        transition: all 0.2s; }
      .maincont .composition-1__photo-img7 {
        padding: 1rem;
        width: 30rem;
        margin-left: 3rem;
        transition: all 0.2s; }
      .maincont .composition-1__photo-img6:hover {
        transform: scale(1.1);
        z-index: 5; }
      .maincont .composition-1__photo-img7:hover {
        transform: scale(1.1);
        z-index: 5; }
  .maincont__cont-right {
    flex: 0 0 50%;
    height: 100%; }

.composition-2 {
  height: 90%;
  position: relative;
  margin-left: 6rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  opacity: 0; }
  @media (max-width: 25.75em) {
    .composition-2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 2rem;
      margin-right: 2rem; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .composition-2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 2rem;
      margin-right: 2rem;
      height: 10%; } }
  .composition-2__photo {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
    border: 2px solid #edc951; }
    @media (max-width: 25.75em) {
      .composition-2__photo {
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.8);
        border: 1.9px solid #edc951; } }
    @media (min-width: 22.5em) and (max-width: 22.875em) {
      .composition-2__photo {
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.8);
        border: 1.9px solid #edc951; } }
    .composition-2__photo-img1 {
      z-index: 2;
      padding: 1rem;
      transition: all 0.2s;
      width: 32rem;
      position: absolute;
      top: 4%;
      left: 0%; }
      @media (max-width: 25.75em) {
        .composition-2__photo-img1 {
          position: static;
          align-self: center;
          width: 30rem;
          height: 21rem; } }
      @media (min-width: 22.5em) and (max-width: 22.875em) {
        .composition-2__photo-img1 {
          position: static;
          align-self: center;
          width: 26rem;
          height: 18rem; } }
    .composition-2__photo-img1:hover {
      transform: scale(1.1);
      z-index: 5; }
    .composition-2__photo-img2 {
      z-index: 2;
      padding: 1rem;
      transition: all 0.2s;
      width: 32rem;
      left: 44%;
      top: 0%;
      position: absolute; }
      @media (max-width: 25.75em) {
        .composition-2__photo-img2 {
          position: static;
          align-self: center;
          width: 30rem;
          height: 21rem;
          margin-left: 3rem; } }
      @media (min-width: 22.5em) and (max-width: 22.875em) {
        .composition-2__photo-img2 {
          position: static;
          align-self: center;
          width: 26rem;
          height: 18rem;
          margin-left: 3rem; } }
    .composition-2__photo-img2:hover {
      transform: scale(1.1);
      z-index: 5; }
    .composition-2__photo-img3 {
      z-index: 4;
      padding: 1rem;
      transition: all 0.2s;
      width: 30rem;
      position: absolute;
      left: 8%;
      top: 32%; }
      @media (max-width: 111.8125em) {
        .composition-2__photo-img3 {
          top: 29.816666666667%; } }
      @media (max-width: 100.5625em) {
        .composition-2__photo-img3 {
          top: 26.816666666667%; } }
      @media (max-width: 93.375em) {
        .composition-2__photo-img3 {
          top: 25.433333333333%; } }
      @media (max-width: 25.75em) {
        .composition-2__photo-img3 {
          display: none; } }
      @media (min-width: 22.5em) and (max-width: 22.875em) {
        .composition-2__photo-img3 {
          display: none; } }
    .composition-2__photo-img3:hover {
      transform: scale(1.1);
      z-index: 5; }
    .composition-2__photo-img4 {
      z-index: 4;
      padding: 1rem;
      width: 30rem;
      transition: all 0.2s;
      top: 43%;
      left: 47%;
      position: absolute; }
      @media (max-width: 93.375em) {
        .composition-2__photo-img4 {
          left: 49.886458333333%;
          top: 33%; } }
      @media (max-width: 25.75em) {
        .composition-2__photo-img4 {
          position: static;
          align-self: center;
          width: 30rem;
          height: 21rem; } }
      @media (min-width: 22.5em) and (max-width: 22.875em) {
        .composition-2__photo-img4 {
          position: static;
          align-self: center;
          width: 26rem;
          height: 18rem; } }
    .composition-2__photo-img4:hover {
      transform: scale(1.1);
      z-index: 5; }
    .composition-2__photo-img5 {
      z-index: 3;
      padding: 1rem;
      transition: all 0.2s;
      width: 32rem;
      position: absolute;
      left: 27%;
      top: 21%; }
      @media (max-width: 93.375em) {
        .composition-2__photo-img5 {
          top: 18.433333333333%; } }
      @media (max-width: 25.75em) {
        .composition-2__photo-img5 {
          position: static;
          align-self: center;
          width: 30rem;
          height: 21rem;
          margin-left: 3rem; } }
      @media (min-width: 22.5em) and (max-width: 22.875em) {
        .composition-2__photo-img5 {
          position: static;
          align-self: center;
          width: 26rem;
          height: 18rem;
          margin-left: 3rem; } }
    .composition-2__photo-img5:hover {
      transform: scale(1.1);
      z-index: 5; }

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.35);
  align-items: center;
  animation-delay: 1.1s;
  --animate-duration: .8s; }
  @media only screen and (min-width: 20em) and (max-width: 30em) {
    .navigation {
      display: none; } }

.logocont {
  margin-right: auto;
  margin: 2rem 4rem; }
  .logocont__logo {
    width: 10rem;
    object-fit: cover; }

.nav-menu {
  margin: 2rem 4rem;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between; }
  .nav-menu__items {
    border: 2px solid #a2212b;
    border-radius: 10rem;
    transition: all .4s;
    display: flex;
    margin-left: 2rem; }
  .nav-menu__items:hover {
    background-color: #a2212b;
    border: 2px solid #eeeeee; }
  .nav-menu__items--unique {
    border: 2px solid #eeeeee;
    border-radius: 10rem;
    transition: all .4s;
    background-color: #a2212b;
    display: flex;
    margin-left: 2rem; }
  .nav-menu__items--unique:hover {
    border: 2px solid #eabf32;
    background-color: transparent; }
  .nav-menu__links {
    font-size: 2rem;
    font-weight: 400;
    color: #eeeeee;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0.5rem 2rem; }
  .nav-menu__links:hover {
    color: #fff; }
  .nav-menu__links--unique {
    font-size: 2rem;
    color: #e9e9e9;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0.5rem 2rem; }
  .nav-menu__links--unique:hover {
    color: #eeeeee; }

@media (min-width: 37.5em) {
  .mobile-nav {
    display: none; } }

.mobile-nav__logo {
  margin-top: 2.5rem;
  margin-left: 2rem;
  height: 10rem;
  width: 10rem; }

.mobile-nav__list {
  position: fixed;
  top: 45%;
  left: -50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  opacity: 1;
  z-index: 12;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.mobile-nav__items {
  margin: 2.2rem; }

.mobile-nav__link {
  font-size: 2.8rem;
  font-weight: 300;
  color: #d8404b;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 5%;
  background-color: #eeeeee; }

.mobile-nav__checkbox {
  display: none; }

.mobile-nav__checkbox:checked ~ .mobile-nav__background {
  transform: scale(50); }

.mobile-nav__checkbox:checked ~ .mobile-nav__list {
  left: 50%; }

.mobile-nav__button {
  background-color: #d8404b;
  height: 6.5rem;
  width: 6.5rem;
  position: fixed;
  top: 2.5rem;
  left: 54rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  z-index: 11; }
  @media (max-width: 25.75em) {
    .mobile-nav__button {
      left: 60rem;
      top: 2.7rem; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .mobile-nav__button {
      left: 54rem;
      top: 2.7rem; } }

.mobile-nav__background {
  background-color: rgba(51, 51, 51, 0.97);
  height: 6.5rem;
  width: 6.5rem;
  position: fixed;
  top: 2.5rem;
  left: 54rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 25.75em) {
    .mobile-nav__background {
      left: 60rem;
      top: 2.7rem; } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    .mobile-nav__background {
      left: 54rem;
      top: 2.7rem; } }

.toggle-icon {
  height: 4.5rem;
  fill: #eeeeee; }

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/mainbg.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  background-position: center; }
  @media (max-width: 25.75em) {
    header {
      background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/mainbg-M.jpg); } }
  @media (min-width: 22.5em) and (max-width: 22.875em) {
    header {
      background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/mainbg-M.jpg); } }

.herotext-cont {
  position: relative;
  top: 10rem; }
  @media (max-width: 111.8125em) {
    .herotext-cont {
      top: 14.6822916666667rem; } }
  @media (max-width: 100.5625em) {
    .herotext-cont {
      top: 18.6822916666667rem; } }
  @media (width: 100em) {
    .herotext-cont {
      top: 12.6822916666667rem; } }
  @media (max-width: 25.75em) {
    .herotext-cont {
      top: 20rem; } }

.header-box1 {
  text-align: center;
  font-size: 4rem;
  animation-delay: 1.1s;
  --animate-duration: 1.5s; }
  @media (max-width: 25.75em) {
    .header-box1 {
      font-size: 2.8rem; } }
  .header-box1__title {
    color: #eeeeee;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5rem;
    text-align: center;
    color: #eeeeee; }
    @media (max-width: 111.8125em) {
      .header-box1__title {
        letter-spacing: 4.6588541666667rem; } }
    @media (max-width: 25.75em) {
      .header-box1__title {
        letter-spacing: 3.6588541666667rem; } }

.header-box2 {
  text-align: center;
  font-size: 3rem;
  animation-delay: 1.5s;
  --animate-duration: 1.8s; }
  @media (max-width: 25.75em) {
    .header-box2 {
      font-size: 2.4rem; } }
  .header-box2__sub1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4.5rem;
    text-align: center; }
    @media (max-width: 111.8125em) {
      .header-box2__sub1 {
        letter-spacing: 4.19296875rem; } }
    @media (max-width: 25.75em) {
      .header-box2__sub1 {
        letter-spacing: 3.1rem; } }

.header-box3 {
  text-align: center;
  font-size: 2rem;
  animation-delay: 1.7s;
  --animate-duration: 1.8s; }
  @media (max-width: 25.75em) {
    .header-box3 {
      font-size: 1.7rem; } }
  .header-box3__sub2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .75rem;
    text-align: center; }
    @media (max-width: 111.8125em) {
      .header-box3__sub2 {
        letter-spacing: 0.698828125rem; } }

.herotext-cont {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center; }

.btn-box {
  display: inline-block;
  padding-top: 29rem;
  z-index: 0; }
  @media (max-width: 111.8125em) {
    .btn-box {
      padding-top: 25.6375rem; } }
  @media (max-width: 100.5625em) {
    .btn-box {
      padding-top: 22.6375rem; } }
  @media (max-width: 25.75em) {
    .btn-box {
      padding-top: 31.637rem; } }

.btn-hide {
  animation: fadein 1.8s; }

@keyframes fadein {
  0%, 50%, 70% {
    opacity: 0; }
  90%, 100% {
    opacity: 1; } }

.anmt-cnfg {
  animation-delay: 1s;
  --animate-duration: .8s; }
