
*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}












//******************************MAIN******************************//
html{

    box-sizing: border-box;
    font-size: 62.5%;
}


body{
font-family: 'Lato', sans-serif;
font-weight: 400;
line-height: 1.6;
color: wheat;
background-color: #4f372d;
}












//******************************HEADER******************************//
.header{
    background-image: url(../img/mainbg.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;

}



.navigation{

display: flex;
justify-content: space-between;
background-color: rgba(0 , 0, 0, .5);
align-items: center;


}


.logo{

    height: 9rem;
    margin: 2rem 4rem;
}


.nav-menu{

    margin: 2rem 4rem;
    display: flex;
    list-style: none;
    flex: 0 0 37%;
    justify-content: space-between;

    &__items{
        border: 2px solid $orange;
        border-radius: 10rem;
        transition: all .4s;
    }


    &__items:hover{
        background-color: $orange-dark;

    }

    &__items--unique{
        border: 2px solid $orange-dark;
        border-radius: 10rem;
        transition: all .4s;
        background-color: $yellow;
        transition: all .9s;

    }

    &__items--unique:hover{
        background-color: white;
        color: black;
        border: 2px solid black;

    }

    &__links{
        font-size: 1.6rem;
        font-weight: 400;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 0.5rem 2rem;
    }


    &__links--unique{
        font-size: 1.5rem;
        font-weight: 300;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 0.5rem 2rem;
    }


    &__links--unique:hover{

        color: black;

    }
}



.header-box{

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
text-align: center;


&__title{


}


&__btn{


}

}

.title__main{
    font-size: 8.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4rem;
    display: block;
    text-align: center;



}

.title__sub{
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2rem;
    margin-bottom: 26rem;
    display: block;
    text-align: center;



}


