.btn-red {
    display: inline-block;
    padding: .9rem 2.2rem;
    border-radius: 10rem;
    color: $gray-light;
    text-transform: uppercase;
    font-size: 2rem;    
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Original Surfer', cursive;



        


    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $red;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $red-dark;
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: $gray-light;
      &:before {
        width: 100%;
      }
    }
  }
  


