.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1.3rem 4rem;
    display: inline-block;
    border-radius: 30px;
}


.btn-white{
    background-color: white;
    color: gray;


}