// ***********************COLOR PALLETTES*********************** //

$brown-light: #654639;
$brown: #4f372d;
$brown-dark: #201713;
$brown-darker: #0e0a08;
$brown-darkest: #0e0a08;
$red-light: #d8404b;
$red: #cc2a36;
$red-dark: #a2212b;
$red-darker: #861b24;
$red-darkest: #6a161c;
$yellow-light:#f0d370;
$yellow:#edc951;
$yellow-dark:#eabf32;
$cyan-light: #3feafd;
$cyan: #09b9cc;
$cyan-dark: #02828f;
$orange-light:#ee8060;
$orange:#eb6841;
$orange-dark:#66200b;
$gray-light: #eeeeee;
$gray: #e9e9e9;
$gray-dark: rgb(51, 51, 51);
$gray-darker: #1a1a1a;
$gray-darkest: #161616;
$black: #000;
$white: #fff;

$padding-top-1:1rem;
$padding-top-2:2rem;
$padding-top-3:3rem;
$padding-bottom-1:1rem;
$padding-bottom-2:2rem;
$padding-bottom-3:3rem;




.normal__text{
    font-size: 1.6rem;
    padding-top: $padding-top-2;  

    @include respond (myphone){
        padding-top: $padding-top-1;   
        } 

        @include respond (a7){
            padding-top: $padding-top-1;   
            } 

    @include respond (iphonex){
        padding-top: $padding-top-1;   
        } 
    
    @include respond (iphone678){
        padding-top: $padding-top-1;   
        } 
    
    
}


.heading-2{
    font-size: 4.2rem;    
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    font-family: 'Original Surfer', cursive;
    padding-top: $padding-top-2;
    padding-bottom: $padding-bottom-3;
    text-align: center;
    opacity: 0;

    @include respond (myphone){
        font-size: 3.1rem;    
        padding-bottom: .5rem;
        padding-top: 2rem;
        opacity: 1;
        }

        @include respond (a7){
            font-size: 3.1rem;    
            padding-bottom: .5rem;
            padding-top: 2rem;
            opacity: 1;
            }

    @include respond (iphonex){
        font-size: 3.1rem;    
        padding-bottom: .5rem;
        padding-top: 2rem;
        opacity: 1;
        }
    @include respond (iphone678){
        font-size: 3.1rem;    
        padding-bottom: .5rem;
        padding-top: 2rem;
        opacity: 1;
        }


   
}
.heading-3{
    font-weight: 400;
    font-size: 2.6rem;    
    text-transform: uppercase;
    display: block;
    padding-top: $padding-top-2;
    font-family: 'Original Surfer', cursive;
    opacity: 0;


    @include respond (myphone){
        font-size: 2.6rem;  
        padding-bottom: .5rem;
        padding-top: .5rem;
        margin-left: 1rem;
        opacity: 1;
    }

    @include respond (a7){
        font-size: 2.6rem;  
        padding-bottom: .5rem;
        padding-top: .5rem;
        margin-left: 1rem;
        opacity: 1;
    }


    @include respond (iphonex){
        font-size: 2.6rem;  
        padding-bottom: .5rem;
        padding-top: .5rem;
        margin-left: 1rem;
        opacity: 1;
    }

    @include respond (iphone678){
        font-size: 2.6rem;  
        padding-bottom: .5rem;
        padding-top: .5rem;
        margin-left: 1rem;
        opacity: 1;
    }

    


}

.c-cyan{
    color: $cyan;
}

.c-yellow{
    color: $yellow-dark; 
}

.c-red{
    color: $red; 
}




// MY DESIGN WIDTH 1920PX HEIGHT 937PX //





$mobile-min: 10em; //320px — 480px
$mobile-max: 30em;

$phablet-min: 30.0625em; //481px — 768px
$phablet-max: 48em;

$tablet-min: 48.0625em; //769px — 1024px
$tablet-max: 64em;

$laptop1-min: 48.0625em; //1025px — 1200px
$laptop1-max: 75em;

$laptop2-min: 75.0625em; //1201px — 1366px
$laptop2-max: 85.375em;

$desktop1-min: 85.4375;  //1367px — 1919px
$desktop1-max: 119.9375; 


$desktop2: 120rem; //1920px<


