// ***********************COLOR PALLETTES*********************** //

$brown-light: #654639;
$brown: #4f372d;
$brown-dark: #392821;

$red-light: #d8404b;
$red: #cc2a36;
$red-dark: #b0242f;

$yellow-light:#f0d370;
$yellow:#edc951;
$yellow-dark:#eabf32;

$cyan-light: #04bed1;
$cyan: #03a0b0;
$cyan-dark: #02828f;

$orange-light:#ee8060;
$orange:#eb6841;
$orange-dark:#e85022;



$gray-light: #faf9f9;
$gray: #f2f0f0;
$gray-dark: #777;
$gray-darker: #333;

$black: #000;
$white: #fff;






$shadow-dark: 0 2rem 6rem rgba(0 , 0, 0, .3);   //BOX-SHADOW


$bp1: 120.0625em; // (min) 1921px
$bp2: 120em; // (max) 1920px 
$bp3: 102.6875em; // (min)=1643px
$bp4: 85.375em; // (min)=1366
$bp5: 64em;  // (min)1024px
$bp6: 57.375em;  // (min)918px
$bp7: 50.75em;  // (min) 812px
$bp8: 48em; //= (min)768px
$bp9: 45.6875em; // (min)731px
$bp10: 45em; // (min)720px
$bp11: 41.6875em; //(min)667px
$bp12: 40em; // (min)640px
$bp13: 25.6875em; //(min)411px
$bp14: 23.4375em; //(min)375px
$bp15: 22.5em; //(min)360px






