// ***********************COLOR PALLETTES*********************** //

$brown-light: #654639;
$brown: #4f372d;
$brown-dark: #392821;

$red-light: #d8404b;
$red: #cc2a36;
$red-dark: #b0242f;

$yellow-light:#f0d370;
$yellow:#edc951;
$yellow-dark:#eabf32;

$cyan-light: #04bed1;
$cyan: #03a0b0;
$cyan-dark: #02828f;

$orange-light:#ee8060;
$orange:#eb6841;
$orange-dark:#e85022;



$gray-light: #faf9f9;
$gray: #f2f0f0;
$gray-dark: #777;
$gray-darker: #333;

$black: #000;
$white: #fff;

// ********************************************** //





$shadow-dark: 0 2rem 6rem rgba(0 , 0, 0, .3);   //BOX-SHADOW


$bp-largest: 75em;  // =1200px
$bp-large: 70em;  // =1120px
$bp-medium: 56.25em; //900px
$bp-small: 37.50em; //600px
$bp-smallest: 30.25em; //500px

