// ***********************COLOR PALLETTES*********************** //

$brown-light: #654639;
$brown: #4f372d;
$brown-dark: #392821;

$red-light: #d8404b;
$red: #cc2a36;
$red-dark: #a2212b;

$yellow-light:#f0d370;
$yellow:#edc951;
$yellow-dark:#eabf32;

$cyan-light: #04bed1;
$cyan: #03a0b0;
$cyan-dark: #02828f;

$orange-light:#ee8060;
$orange:#eb6841;
$orange-dark:#e85022;



$gray-light: #faf9f9;
$gray: #f2f0f0;
$gray-dark: #777;
$gray-darker: #333;

$black: #000;
$white: #fff;







$bp0: 215em;        // (min)=3440px x 1440px
$bp1: 160em;        // (max)=2560px x 1080px
$bp2: 120em;        // (max)=1920px x 1080px
$bp3: 102.6875em;   // (max)=1643px
$bp4: 90rem;        // (max)=1440px
$bp5: 85.375em;     // (max)=1366px
$bp6: 67.5em;       // (max)=1080px
$bp7: 64em;         // (max)=1024px
$bp8: 57.375em;     //  (max)=918px
$bp9: 50.75em;      //  (max)=812px
$bp10: 48em;        //  (max)=768px
$bp11: 45.6875em;   //  (max)=731px
$bp12: 45em;        //  (max)=720px
$bp13: 41.6875em;   //  (max)=667px
$bp14: 40em;        //  (max)=640px
$bp15: 25.6875em;   //  (max)=411px
$bp16: 23.4375em;   //  (max)=375px
$bp17: 22.5em;      //  (max)=360px







$mobile-min: 20em; //320px — 480px
$mobile-max: 30em;

$phablet-min: 30.0625em; //481px — 768px
$phablet-max: 48em;

$tablet-min: 48.0625em; //769px — 1024px
$tablet-max: 64em;

$laptop1-min: 64.0625em; //1025px — 1200px
$laptop1-max: 75em;

$laptop2-min: 75.0625em; //1201px — 1366px
$laptop2-max: 85.375em;

                         //1367px — 1920px






// ************************IPHONEX************************ //
@media only screen and (width : 375px) and (height : 812px) {
    /* Styles */


    }

    
// ******************************************************* //


// ************************IPAD************************ //
@media only screen and (width : 768px) and (height : 1024px) {
    /* Styles */


    }
    
// ******************************************************* //


// ************************IPAD PRO************************ //
@media only screen and (width : 1024px) and (height : 1366px) {
    /* Styles */


    }
// ******************************************************* //


// ************************IPHONE 6/7/8************************ //
@media only screen and (width : 375px) and (height : 667px) {
    /* Styles */


    }
// ******************************************************* //


// ************************IPHONE 6/7/8 PLUS************************ //
@media only screen and (width : 414px) and (height : 736px) {
    /* Styles */


    }
// ******************************************************* //


// ************************SAMSUNG GALAXY J6+************************ //
@media only screen and (width : 360px) and (height : 640px) {
    /* Styles */


    }
// ******************************************************* //


// ************************LAPTOP-CHROME************************ //
@media only screen and (width : 1366px) and (height : 625px) {
    /* Styles */


    }
// ******************************************************* //



