@import "mixins";
@import "utilities";

@import "sections/aboutus/about-us";
@import "sections/header/desktop-nav";
@import "sections/header/mobile-nav";
@import "sections/header/header";



@import "components";
@import "base";


@import "sections/footer/footer";
@import "sections/contactus/contact-us";
@import "sections/ourvision/our-vision";
@import "sections/ouractivity/our-activity";
@import "sections/aboutus/about-us";
@import "sections/header/desktop-nav";
@import "sections/header/mobile-nav";
@import "sections/header/header";




@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');





