
.mobile-nav{

    @include respond (phone){
       
        display: none;
    }

    &__logo{

        margin-top: 2.5rem;
        margin-left: 2rem;
        height: 10rem;
        width: auto;

        @include respond (myphone){
            height: 7.8rem;
            width: auto;
        }


        @include respond (a7){
            height: 7.8rem;
            width: auto;
        }

        @include respond (iphonex){
            height: 7.4rem;
            width: auto;
        }

        @include respond (iphone678){
            height: 7.4rem;
            width: auto;
        }

        @include respond (sonya1ultra){
            height: 7.4rem;
            width: auto;
        }


       
    }

    &__list{

        position: fixed;
        top: 45%;
        left: -50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
        z-index: 12;
        transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);

    }

    &__items{
        margin: 2.2rem;

    }

    &__link{
        font-size: 2.8rem;
        font-weight: 300;
        color: $red-light;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem;
        border-radius: 5%;
        background-color: $gray-light;
    }

    &__checkbox:checked + &__link{
        background-color: yellowgreen;
    }

    &__checkbox{
        display: none;
    }

    &__checkbox:checked ~ &__background{
        transform: scale(50);
}


    &__checkbox:checked ~ &__list{
        left: 50%;
        opacity: 1;
    }









    &__button{

        background-color: $red-light;
        height: 6.5rem;
        width: 6.5rem;
        position: fixed;
        top: 2.5rem;
        left: 54rem;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        z-index: 11;

        @include respond (myphone){
            height: 5.5rem;
            width: 5.5rem;
            left: 85vw;
            top: 2.8rem;
        }

        @include respond (a7){
            height: 5.5rem;
            width: 5.5rem;
            left: 85vw;
            top: 2.8rem;
        }



        @include respond (iphonex){
            height: 5.3rem;
            width: 5.3rem;
            left: 80vw;
            top: 2.75rem;
        }

        @include respond (iphone678){
            height: 5.3rem;
            width: 5.3rem;
            left: 82vw;
            top: 2.75rem;
        }

        @include respond (sonya1ultra){
            height: 5.3rem;
            width: 5.3rem;
            left: 82vw;
            top: 2.75rem;
        }


        

    
                    

    }

    &__background{
        background-color: rgba($gray-dark,.97);
        height: 6.5rem;
        width: 6.5rem;
        position: fixed;
        top: 2.5rem;
        left: 54rem;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        z-index: 10;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond (myphone){
            height: 5.5rem;
            width: 5.5rem;
            left: 85vw;
            top: 2.8rem;
        }

        @include respond (a7){
            height: 5.5rem;
            width: 5.5rem;
            left: 85vw;
            top: 2.8rem;
        }

        @include respond (iphonex){
            height: 5.3rem;
            width: 5.3rem;
            left: 80vw;
            top: 2.75rem;
        }


        @include respond (iphone678){
            height: 5.3rem;
            width: 5.3rem;
            left: 82vw;
            top: 2.75rem;
        }

        @include respond (sonya1ultra){
            height: 5.3rem;
            width: 5.3rem;
            left: 82vw;
            top: 2.75rem;
        }

    }


    
    
}



.toggle-icon{

    height: 4.5rem;
    fill: $gray-light;


    @include respond (myphone){
        height: 3.88rem;
    }

    @include respond (a7){
        height: 3.88rem;
    }

    @include respond (iphonex){
        height: 3.88rem;
    }

    
    @include respond (iphone678){
        height: 3.88rem;
    }

    @include respond (sonya1ultra){
        height: 3.88rem;
    }
}


