.sec-our-vision{
   
        background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-L.jpg);
        background-size: cover;
        height: 100vh;
        position: relative;
        background-position: center;


        @include respond (4k){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision.jpg);
           }

           @include respond (laptop){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-L.jpg);
           }



           @include respond (tablet){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-L.jpg);
           }



           @include respond (phablet-l){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-M.jpg);
           }

        @include respond (phablet-m){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-M.jpg);
           }

        @include respond (myphone){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-M.jpg);
           }
           
        @include respond (a7){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-M.jpg);
           }

           @include respond (mobile){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-M.jpg);
           }
        @include respond (iphonex){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-L.jpg);
           }
        @include respond (iphone678){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-L.jpg);
           }

           @include respond (sonya1ultra){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-M.jpg);
           }

           @include respond (mobile-s){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-S.jpg);
           }

           @include respond (mobile-xs){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-XS.jpg);
           }
    
    
          
}


.maincont2{

    padding-top: 8rem;

    @include respond (tablet){
  
        padding-top: 3rem;
        }

        @include respond (phablet-l){
            display: flex;
            flex-direction: column;  
            padding-top: 3rem;
            }

    @include respond (phablet-m){
        display: flex;
        flex-direction: column;  
        padding-top: 3rem;
        }

    @include respond (myphone){
        display: flex;
        flex-direction: column;  
        padding-top: 3rem;
        }

        @include respond (a7){
            display: flex;
            flex-direction: column;  
            padding-top: 3rem;
            }

            @include respond (phablet-s){
                display: flex;
                flex-direction: column;  
                padding-top: 3rem;
                }

            @include respond (mobile){
                display: flex;
                flex-direction: column;  
                padding-top: 3rem;
                }

    @include respond (iphonex){
        display: flex;
        flex-direction: column;  
        padding-top: 3rem;
        }

    @include respond (iphone678){
        display: flex;
        flex-direction: column;  
        padding-top: 1.5rem;
        }

        @include respond (sonya1ultra){
            display: flex;
            flex-direction: column;  
            padding-top: 1.5rem;
            }

            @include respond (mobile-s){
                display: flex;
                flex-direction: column;  
                padding-top: 1.5rem;
                }

                @include respond (mobile-xs){
                    display: flex;
                    flex-direction: column;  
                    padding-top: 1.5rem;
                    }
    

    

}
.box1{

background-color: rgba(255, 255, 255, 0.85);
margin-bottom: 4rem;
margin-left: 45rem;
margin-right: 45rem;
transform: skewX(165deg);
opacity: 0;


@include respond (tablet){
    opacity: 1;
    margin-left: 15vw;
    margin-right: 15vw;
}




@include respond (phablet-l){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}

@include respond (phablet-m){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}


@include respond (myphone){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}

@include respond (a7){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}

@include respond (phablet-s){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}

@include respond (mobile){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}

@include respond (iphonex){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}

@include respond (iphone678){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}

@include respond (sonya1ultra){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}

@include respond (mobile-s){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}

@include respond (mobile-xs){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}


}



.box2{

    background-color: rgba(255, 255, 255, 0.85);
    margin-left: 45rem;
    margin-right: 45rem;
    transform: skewX(165deg);
    opacity: 0;
  

@include respond (tablet){
    opacity: 1;
    margin-left: 15vw;
    margin-right: 15vw;
}



@include respond (phablet-l){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

   }


    @include respond (phablet-m){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }

    @include respond (myphone){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }

       @include respond (a7){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }

           
    @include respond (phablet-s){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }
       
    @include respond (mobile){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }

    @include respond (iphonex){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }
    @include respond (iphone678){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }

       @include respond (sonya1ultra){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }
       @include respond (mobile-s){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }

       @include respond (mobile-xs){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }


           
    }


    .sub-box{
        padding-bottom: 7rem;
        padding-left: 3rem;
        padding-right: 3rem;
        text-align: center;
        transform: skewX(-165deg);

        @include respond (phablet-l){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }

        @include respond (phablet-m){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }

        @include respond (myphone){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }

           @include respond (a7){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }

           @include respond (phablet-s){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }


           @include respond (mobile){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }



        @include respond (iphonex){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }

        @include respond (iphone678){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }

           @include respond (sonya1ultra){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }

           @include respond (mobile-s){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }

           @include respond (mobile-xs){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }
      

          
    }


    .txt-our-vision{

        color: $gray-darker;

        @include respond (phablet-l){
            font-size: 1.9rem;
        }


        @include respond (phablet-m){
            font-size: 1.9rem;
        }


        @include respond (myphone){
            font-size: 1.9rem;
        }

        @include respond (a7){
            font-size: 1.9rem;
        }

        @include respond (phablet-s){
            font-size: 1.9rem;
        }

        
        @include respond (mobile){
            font-size: 1.9rem;
        }

        @include respond (iphonex){
            font-size: 1.9rem;
        }

        @include respond (iphone678){
            font-size: 1.9rem;
        }
        @include respond (sonya1ultra){
            font-size: 1.9rem;
        }

        @include respond (mobile-s){
            font-size: 1.9rem;
        }

        @include respond (mobile-xs){
            font-size: 1.9rem;
        }


       
    }

.logowhite-cont{
text-align: center;
margin-top: 4%;


@include respond (phablet-l){
    margin-top: 0;
    margin-bottom: 1vh;
}

@include respond (phablet-m){
    margin-top: 0;
    margin-bottom: 1vh;
}

@include respond (myphone){
    margin-top: 0;
    margin-bottom: 1vh;
}

@include respond (phablet-s){
    margin-top: 0;
    margin-bottom: 1vh;
}

@include respond (mobile){
    margin-top: 0;
    margin-bottom: 1vh;
}

@include respond (iphonex){
    margin-top: 0;
    margin-bottom: 1vh;
}

@include respond (a7){
    margin-top: 0;
    margin-bottom: 1vh;
}

@include respond (iphone678){
    margin-top: 0;
    margin-bottom: 1vh;
}

@include respond (sonya1ultra){
    margin-top: 0;
    margin-bottom: 1vh;
}

@include respond (mobile-s){
    margin-top: 0;
    margin-bottom: 1vh;
}

@include respond (mobile-xs){
    margin-top: 0;
    margin-bottom: 1vh;
}



}

    .logo-white{
        width: 12rem;
        z-index: 5;
        opacity: 0;
        
@include respond (tablet){
    opacity: 1;
}

@include respond (phablet-l){
    width: 9rem;
    opacity: 1;
}

        @include respond (phablet-m){
            width: 9rem;
            opacity: 1;
        }


        @include respond (myphone){
            width: 9rem;
            opacity: 1;
        }


        @include respond (a7){
            width: 9rem;
            opacity: 1;
        }

        @include respond (phablet-s){
            width: 9rem;
            opacity: 1;
        }

        @include respond (mobile){
            width: 9rem;
            opacity: 1;
        }


        
        @include respond (iphonex){
            width: 9rem;
            opacity: 1;
        }

        @include respond (iphone678){
            width: 7rem;
            opacity: 1;
        }

        @include respond (sonya1ultra){
            width: 7rem;
            opacity: 1;
        }
        @include respond (mobile-s){
            width: 7rem;
            opacity: 1;
        }

        @include respond (mobile-xs){
            width: 7rem;
            opacity: 1;
        }



      
    }