.sec-our-vision{
   
        background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision.jpg);
        background-size: cover;
        height: 100vh;
        position: relative;
        background-position: center;

        @include respond (myphone){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-M.jpg);
           }

           @include respond (iphonex){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-L.jpg);
           }


           @include respond (upto360){
            height: auto;
            background-image:linear-gradient(rgba($brown-dark, 0.71),rgba($brown-dark, 0.71)) ,url(../img/our-vision-M.jpg);
           }
      
}


.maincont2{

    padding-top: 8rem;

    @include respond (br1){
        padding-top:8.5458333333333rem;        
    }

    @include respond (br2){
        padding-top:9.2958333333333rem;
    }

    @include respond (myphone){
    display: flex;
    flex-direction: column;  
    padding-top: 8rem;
    }

    
    @include respond (iphonex){
        display: flex;
        flex-direction: column;  
        padding-top: 8rem;
        }


    @include respond (upto360){
        display: flex;
        flex-direction: column;  
        padding-top: 16rem;

    }


}
.box1{

background-color: rgba(255, 255, 255, 0.85);
margin-bottom: 4rem;
margin-left: 45rem;
margin-right: 45rem;
transform: skewX(165deg);
opacity: 0;

@include respond (myphone){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}

@include respond (iphonex){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

}

@include respond (upto360){
    margin-bottom: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transform: skewY(0);
    border-radius: 2px;
    opacity: 1;

   }

}



.box2{

    background-color: rgba(255, 255, 255, 0.85);
    margin-left: 45rem;
    margin-right: 45rem;
    transform: skewX(165deg);
    opacity: 0;


    @include respond (myphone){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }

       @include respond (iphonex){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }

       @include respond (upto360){
        margin-bottom: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
        transform: skewY(0);
        border-radius: 2px;
        opacity: 1;

       }

    
    }


    .sub-box{
        padding-bottom: 7rem;
        padding-left: 3rem;
        padding-right: 3rem;
        text-align: center;
        transform: skewX(-165deg);

        @include respond (myphone){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }

           @include respond (iphonex){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }

           @include respond (upto360){
            transform: skewY(0);
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            text-align: left;

           }



    }


    .txt-our-vision{

        color: $gray-darker;

        @include respond (myphone){
            font-size: 1.9rem;
        }

        @include respond (iphonex){
            font-size: 1.9rem;
        }

        @include respond (upto360){
            font-size: 1.9rem;
        }
    }

.logowhite-cont{
text-align: center;
margin-top: 4%;


@include respond (myphone){
    margin-top: 0;
    margin-bottom: 1%;
}

@include respond (iphonex){
    margin-top: 0;
    margin-bottom: 1%;
}

@include respond (upto360){
    margin-top: 0;
    margin-bottom: 1%;
}

}

    .logo-white{
        width: 12rem;
        z-index: 5;
        opacity: 0;


        @include respond (myphone){
            width: 10rem;
            opacity: 1;
        }

        @include respond (iphonex){
            width: 10rem;
            opacity: 1;
        }
        @include respond (upto360){
            width: 9rem;
            opacity: 1;
        }

    }