.sec-contact-us{

height: auto;

}
.maincont3{
    display: flex;

   


    &__address{
        flex: 0 0 39.8%;
        padding-left: 18%;

      


    }


    &__map{

        flex: 0 0 59.8%;
        height: 45rem;
        display: flex;
        align-items: center;
        justify-content: center;
      


    }

    &__line{
    
        flex: 0 0 0.1%;
        display: flex;
        justify-content: center;
        align-items: center;

    }


}


.googlemap{
    height: 95%;
    width: 90%;
    opacity: 0;

   
    
   

}

.sep{
    background-color: $red;
    height: 88%;
   

    
 
}

.addressbox{
    display: flex;
}


.icon{

    width: 4rem;
    height: 4rem;
    fill: $red-light;
    margin-left: 3%;
    opacity: 0;

   

  
 
}


.addressbox{
    display: flex;
    justify-content: left;
    align-items: center;
}

.phonebox{
    display: flex;
    justify-content: left;
    align-items: center;


}

.mailbox{
    display: flex;
    justify-content: left;
    align-items: center;
}


.txt-address{
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;

   

    
}


.signature{
    margin-top: 5rem;
    font-size: 2rem;
    color: #1a1a1a;
}