.sec-contact-us{

height: auto;
@include respond (myphone){
height: auto;}

@include respond (IphoneX){
    height: auto;}

@include respond (upto360){
height: auto;
}

}
.maincont3{
    display: flex;

    @include respond (myphone){
        flex-direction: column;
     }

     @include respond (IphoneX){
        flex-direction: column;
     }

     @include respond (upto360){
        flex-direction: column;

     }
 


    &__address{
        flex: 0 0 39.8%;
        padding-left: 18%;

        @include respond (myphone){
            padding-left: 2rem;
         }

         @include respond (IphoneX){
            padding-left: 2rem;
         }

         @include respond (upto360){
            padding-left: 2rem;
         }


    }


    &__map{

        flex: 0 0 59.8%;
        height: 45rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond (myphone){
            margin-top: 3rem;
         }

         @include respond (IphoneX){
            margin-top: 3rem;
         }

         @include respond (upto360){
            margin-top: 3rem;
         }
     


    }

    &__line{
    
        flex: 0 0 0.1%;
        display: flex;
        justify-content: center;
        align-items: center;

    }


}


.googlemap{
    height: 95%;
    width: 90%;
    opacity: 0;

    @include respond (myphone){
        opacity: 1;
    }

    @include respond (IphoneX){
        opacity: 1;
    }
    
    @include respond (upto360){
        opacity: 1;
    }

}

.sep{
    background-color: $red;
    height: 88%;
    @include respond (myphone){
        height: 0.5rem;
        width: 88%;
    }

    @include respond (IphoneX){
        height: 0.5rem;
        width: 88%;
    }

    @include respond (upto360){
        height: 0.5rem;
        width: 88%;
    }
 
}

.addressbox{
    display: flex;
}


.icon{

    width: 4rem;
    height: 4rem;
    fill: $red-light;
    margin-left: 3%;
    opacity: 0;

    @include respond (myphone){
        opacity: 1;
    }

    @include respond (IphoneX){
        opacity: 1;
    }

    @include respond (upto360){
        opacity: 1;
    }
 
}


.addressbox{
    display: flex;
    justify-content: left;
    align-items: center;
}

.phonebox{
    display: flex;
    justify-content: left;
    align-items: center;


}

.mailbox{
    display: flex;
    justify-content: left;
    align-items: center;
}


.txt-address{
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;

    @include respond (myphone){
    font-size: 1.9rem;
    }

    @include respond (IphoneX){
        font-size: 1.9rem;
        }

    @include respond (upto360){
        font-size: 1.9rem;
        }
}


.signature{
    margin-top: 5rem;
    font-size: 2rem;
    color: #1a1a1a;
}