.sec-our-activity{
    background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)) ,url(../img/our-activities.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position: center;


    @include respond (myphone){
        height: auto;
        background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)) ,url(../img/our-activities-L.jpg);
     }

    @include respond (iphonex){
        height: auto;
        background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)) ,url(../img/our-activities-L.jpg);
     }

    @include respond (iphone678){
        height: auto;
        background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)) ,url(../img/our-activities-L.jpg);
     }
    

}


.h3-our-activity{
    text-align: center;
}

.txt-our-activity{
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.6rem;


    @include respond (myphone){
        font-size: 1.9rem;
        margin-left: 1rem;
        margin-right: 1rem;
     }

    @include respond (iphonex){
        font-size: 1.9rem;
        margin-left: 1rem;
        margin-right: 1rem;
     }

    @include respond (iphone678){
        font-size: 1.9rem;
        margin-left: 1rem;
        margin-right: 1rem;
     }

       

            
}


.maincont1{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 75%;

    @include respond (myphone){
        flex-direction: column;
        margin-left: 3rem;
        margin-right: 3rem;
        height: 85%;
     }


    @include respond (iphonex){
        flex-direction: column;
        margin-left: 3rem;
        margin-right: 3rem;
        height: 85%;
     }

    @include respond (iphone678){
        flex-direction: column;
        margin-left: 3rem;
        margin-right: 3rem;
        height: 85%;
     }
    

     
}



.col1{
    border: 3px solid $yellow-light;
    flex: 0 0 25%;
    margin-right: 5%;
    opacity: 0;

    @include respond (myphone){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
     }

    @include respond (iphonex){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
     }

    @include respond (iphone678){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
     }

   

    

}


.col2{
    border: 3px solid $yellow-dark;
    flex: 0 0 25%;
    margin-right: 5%;
    opacity: 0;


    @include respond (myphone){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
     }

    @include respond (iphonex){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
     }
  

    @include respond (iphone678){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
     }
  



     
}


.col3{
    border: 3px solid $yellow-light;
    flex: 0 0 25%;
    margin-right: 5%;
    opacity: 0;

    @include respond (myphone){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
     }


    @include respond (iphonex){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
     }
    @include respond (iphone678){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
     }



         
   

}


.col4{
    border: 3px solid $yellow-dark;
    flex: 0 0 25%;
    opacity: 0;


    @include respond (myphone){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
  
     }


    @include respond (iphonex){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
  
     }

    @include respond (iphone678){
        border: none;
        margin-bottom: 1.1rem;
        margin-right: 0;
        margin-left: 0;
        flex: 0 0 auto;
        opacity: 1;
  
     }



   
}


